*:not(html, body) {
    box-sizing: border-box;
    /* border: solid 1px black; */
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-left: 0rem;
}

footer {
    clear: both;
}


/* -------------------start category */

#n-list-container {
    width: 1200px;
    margin: 0px auto;
}

#n-category-hero-banner {
    position: relative;
}

#n-category-hero-banner img {
    width: 100%;
    height: 619px;
}

#n-category-hero-banner .n-wrap {
    margin-left: 46px;
    position: absolute;
    top: 46px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

#n-category-hero-banner .n-label {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    background-color: #000;
    padding: 0px 7px 0 5px;
    display: inline;
}

#n-category-hero-banner .n-title strong {
    font-size: 1.2em;
}



/*  카테고리페이지-배너 */

#n-navbar-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: solid 3px black;
}

#n-category-navbar,
#n-sort-navbar {
    width: 50%;
    display: inline-block;
    line-height: 50px;
    border: none;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    height: 60px;
}

#n-category-navbar li {
    display: inline-block;
    margin: auto;
    font-size: 0.9em;
}

#n-sort-navbar {
    float: right;
    text-align: right;
}

#n-product-list-wrapper {
    width: 100%;
    clear: both;
}

#n-category-navbar li {
    width: auto;
    text-align: left;
}

#n-sCategory-navbar-wrapper {
    border-bottom: solid 1px #ccc;
}

#n-sCategory-navbar li {
    display: inline-block;
    margin: auto;
    font-size: 0.8em;
}

#n-sort-navbar {
    margin: auto;
    font-size: 0.8em;
}

#n-sort-navbar-wrapper {
    width: 100px;
    background-color: #fff;
}

#n-sort-wrapper {
    position: relative;
}

#n-sort-wrapper div {
    padding: 6px 0;
    margin-right: 20px;
}

#n-sort-ul {
    width: 100px;
    margin-right: 20px;
    background-color: white;
    border: 1px solid gray;
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 80%;
    display: none;
}

#n-sort-ul li {
    width: 100px;
    text-align: center;
    line-height: 1.1;
    padding: 6px 0;
    z-index: 1;
}


/* 카테고리 - 상품 네비게이션 바 */

.n-anchorBox {
    width: 25%;
    float: left;
    z-index: -1;
}

.n-anchorBox>* {
    width: 98%;
    margin: 0px auto;
}


/* .n-anchorBox img {
    width: 100%;
    height: 276.812px;
} */

.n-thumbnail {
    position: relative;
}

.n-thumbnail img {
    width: 100%;
    height: 276.812px;
    /* position: absolute; */
}

.n-discription {
    position: relative;
}

.n-discription>.n-tag>span {
    padding: 3px 7px;
    font-weight: bold;
    font-size: 0.8em;
}

.n-discription .n-tag {
    position: absolute;
    top: -25px;
}

.n-name span {
    font-size: 1em;
    text-decoration: none;
    color: #000;
}

.n-priceGroup .n-dc-rate {
    display: none;
}

.n-priceGroup>.n-price {
    display: inline-block;
    font-size: 1em;
}

.n-priceGroup>.n-origin-price {
    display: inline-block;
    text-decoration: line-through;
    color: #ccc;
    font-size: 0.8em;
}

.n-ico-basket img {
    width: 39px;
    height: 39px;
    background-color: #fff;
    float: right;
    cursor: pointer;
}

.n-star img {
    width: 15px;
    height: 15px;
}

.n-star .star {
    fill: rgb(125, 63, 0);
    width: 8%;
    height: 8%;
}


/* 상품 전시 프레임 */

.soldout {
    opacity: 0.5;
}


/* 상품 전시 프레임- 품절시 */

#n-pagination-wrapper {
    clear: both;
    margin-left: 25%;
    position: relative;
    top: 40px;
}

.n-pagination li {
    display: inline-block;
}
.n-pagination{
	
    margin-bottom: 70px;
    padding-top: 40px;
	
}

/* 페이지네이션 */


/* -------------------end category-category */


/* -------------------start order-cart */

#n-order-container {
    width: 1000px;
    margin: 30px auto;
}

#n-membership-benefit-wrapper {
    width: 100%;
    height: 101px;
    background-color: #e8e8e8;
    position: relative;
}

#n-membership-benefit-wrapper .n-infomation {
    display: table;
    width: 99%;
    height: 90%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    vertical-align: middle;
}

.n-membership {
    display: table-cell;
}

.n-infomation div:nth-child(1) {
    width: 10%;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #eee;
}

.n-infomation div:nth-child(2) {
    padding-left: 10px;
    vertical-align: middle;
}

/*  낙희 수정 부분 (12/27추가 )*/
#n-shipping-wrapper {
    margin: 20px 0 20px;
    border: 1px solid #cbcdce;
    border-bottom-color: #202020;
    border-left: 0;
    background: #f2f2f2;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.n-cart-table {
    width: 1000px;
}

.n-cart-table tr {
    text-align: center;
}

.n-cart-table tr {
    border-top: solid 1px #ccc;
}

.n-cart-table img {
    width: 80px;
    background-color: antiquewhite;
}

.n-qty-no {
    width: 25px;
    height: 20px;
}

.n-qty-change {
    display: inline-block;
    width: 70px;
    position: relative;
}

.n-qty-change a:nth-of-type(1) {
    position: absolute;
    top: -8px;
    left: 50px;
}

.n-qty-change a:nth-of-type(2) {
    position: absolute;
    top: 13px;
    left: 50px;
}

.n-qty-change img {
    width: 20px;
    height: 15px;
}

.n-cart-btns a {
    display: block;
}

.n-cart-ctl-btn {
    margin-top: 40px;
}

.n-cart-ctl-btn p {
    margin-top: -25px;
    text-align: right;
}

.n-summery-table {
    width: 1000px;
    border-top: solid 2px #ccc;
}

.n-summery-table td {
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-top: solid 1px #ccc;
}

.n-summery-table tbody td {
    font-size: 1.8em;
}

.n-order-btn-wrapper {
    margin-top: 30px;
}

.n-order-btn-wrapper div {
    text-align: center;
}

.n-order-btn-wrapper p {
    margin-top: -40px;
    text-align: right;
}


/* -------------------end order-cart */


/* -------------------start order-payment */

#n-shipping {
	
	    margin-bottom: 0;
}


#n-order-container {
    font-size: 0.8em;
}

#n-shipping-alert {
    background-color: rgb(250, 195, 195);
    padding: 10px 0px;
    ;
}

.n-order-row div {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.n-order-row p {
    display: block;
    text-align: right;
    margin-top: -20px;
}

.n-delete {
    margin-top: 15px;
}

#n-shipping-alert>div {
    color: red;
}

#n-shipping li {
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;
    text-align: justify;
    margin: 10px 0px 10px 30px;
}

#n-shipping li:nth-child(2) {
    position: relative;
    left: 650px;
}

#n-p-summery td {
    border: none;
}

#n-p-summery td:nth-child(2) {
    text-align: right;
}

#n-order-info {
    margin-top: 20px;
}

#n-delivery-info {
    margin-top: 20px;
}

.n-addr {
    margin-left: 20px;
}

#n-order-info table,
#n-delivery-info table {
    font-size: 0.8em;
}

.n-order-table {
    border-collapse: collapse;
    width: 100%;
}

.n-order-table td {
    padding: 5px;
    width: auto;
    border-top: 1px solid black;
}

.n-order-table td:nth-of-type(1) {
    border-right: 1px solid black;
}

#n-pay-info {
    margin-top: 30px;
}

#n-cal-table,
#n-discount-table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

#n-cal-table td {
    padding: 15px;
    width: auto;
    border-top: 1px solid black;
    text-align: center;
}

#n-cal-table tr:nth-child(1) {
    background-color: rgba(202, 202, 202, 0.589);
}

#n-cal-table tr:nth-child(2) td {
    font-size: 2em;
    font-weight: bold;
}

#n-discount-table td {
    padding: 10px;
    border-top: 1px solid black;
    text-align: left;
}

#n-discount-table td:nth-of-type(1) {
    width: 150px;
}


/* 배송지 팝업창 */

#addr-popup-container {
    width: 770px;
}

#addr-popup-title {
    color: #fff;
    background-color: rgb(68, 68, 68);
    padding: 15px;
    font-weight: bold;
}

#addr-caution-container {
    width: 770px;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid black;
    font-size: 0.8em;
}

#caution-title {
    background-color: rgb(236, 236, 236);
    padding: 10px;
    font-weight: bold;
}

#caution-content {
    padding: 10px 15px;
    line-height: 9px;
}

#caution-content p {
    color: rgb(126, 126, 126);
}

#addr-list {
    margin-top: 15px;
}

#addr-list table {
    border: solid 1px black;
    width: 770px;
    margin: 0 auto;
}

#addr-list table th {
    background-color: rgb(236, 236, 236);
    border: solid 1px rgb(236, 236, 236);
    border-bottom: solid 1px black;
}

#addr-list th {
    font-weight: normal;
}

#addr-manage {
    margin-top: 10px;
    border-top: 1px solid black;
    background-color: rgb(236, 236, 236);
    padding: 15px;
    text-align: center;
}

.addressName {
    font-size: 0.7em;
}