@charset "UTF-8";
        /************************ 최낙희 css ********************/
    /* content */


/******************** orderHistory.html *********************/
/* 주문/배송현황 페이지 추가 CSS */

.order-title {
    width: 100%;
    background-color: #eee;
    padding-left: 0;
    border: 1px solid #cbcdce;
    border-bottom-color: black;
    float: left;
    
}


.order-title > li{
    list-style: none;
    float: left;
    
    background-color: #eee;
}


.order-title > .selected a{
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
}
.order-title > li > a {
    text-decoration: none;
    border: 1px solid #cbcdce;
    color: #707070;
    display: block;
    width: 199px;
    text-align: center;
    padding: 12px 5px ;
    font-size: 12px;

    
}


/* 주문 상태 및 기간 조회 form*/

.status-select{
    border: 5px solid #e8e8e8;
    padding: 20px;
    margin: 0;

}

/* 주문 상태 조회 */
.select-form{
    height: 24px;
    width: 170px;
    border: 1px solid #d5d5d5;
    font-size: 12px;
}



.select-bar ul li{
    font-size: 12px;
}

.select-bar ul{
    color: #939393;
    margin-top: 16px;
}


.list-title{
    font-size: 13px;
    font-weight: bold;
    margin: 40px 0 10px 10px;
}


.order-li-pagination{
    margin: 30px 0;
    text-align: center;
}

.order-pagination{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding : 10px 0;
}

.order-process{
    padding-top: 8px;
}

.order-process img{
    width: 100%;
}



/* 주문 상품 정보 테이블 */

.order-list{
    border: 1px solid #d7d5d5;
    border-collapse : collapse;
    font-size: 12px;

}

.order-list th{
    border-left: 1px solid #e9e9e9;
    margin: 0;
    padding: 10px 0 10px;
    background: #fbfafa;
    color: #353535;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}


.order-list tbody td{
    text-align: center;
    padding: 10px 0;
    
}


.order-product-img img {
    width: 80px;
}

.order-status p {
    color: #008bcc;
    font-weight: bold;
}